@font-face {
    font-family: ArcadeFont;
    src: url(./fonts/ARCADECLASSIC.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  font-family: ArcadeFont;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  text-align: center;
  color: #FFFFFF;
}

#root #scoreboard-container svg{
  overflow: hidden; /* used for fixing bug in IE scoreboard overflow*/
}

#root #game-wrapper #main-logo {
  margin: 75px 0px 30px 0px;
  width: 500px;
}

#root #game-wrapper #team-logo {
  margin: 50px 0px 30px 0px;
  width: 500px;
}

#root #game-wrapper .gameinstructions-container{
  width: 600px;
  height: 200px;
  margin: auto;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  word-spacing: 10px;
}

#root #game-wrapper #instructions-title{
  font-size: 60px;
  margin: 30px 0px 40px 0px;
}

#root #game-wrapper .gameinstructions-container div{
  display: block;
  float: left;
  width: 340px;
}

#root #game-wrapper .gameinstructions-container img{
  width: 200px;
  border: 1px solid #FFFFFF;
  float: left;
  margin-right: 20px;
}

#root #game-wrapper .gameinstructions-container span{
  color: #888888;
}

#root #game-wrapper .gameinstructions-container .game-title
{
  color: #8DC53E;
  font-size: 34px;
}

#root #game-wrapper #description-container {
  margin: 0 auto;
  text-align: left;
  font-size: 24px;
  word-spacing: 5px;
  width: 500px;
}

#root .instructions{
  font-size: 24px;
  text-align: center;
  color: #888888;
  margin-top: 60px;
  margin-bottom: 60px;
  word-spacing: 5px;
}

#root #game-wrapper #description-container span{
  color: #8DC53E;
}

#root #game-wrapper #description-container div{
  margin-bottom: 30px;
}

#root #game-wrapper #menu-list .menu-option {
  margin: 30px;
  font-size: 50px;
}

#root #game-wrapper #menu-list .selected {
  color: #8DC53E;
}

#root #scoreboard-container{
  margin-top: 5px;
  position: relative;
  width: 600px;
  height: 47px;
  display: inline-block;
}

#root #scoreboard-container #player1-score, #player2-score{
  position: absolute;
  top: 2px;
  color: #FFFFFF;
  font-size: 40px;
}

#root #scoreboard-container #player1-score{
    left: 20px;
}

#root #scoreboard-container #player2-score{
    left: 517px;
}

#root #scoreboard-container #score-board{
  background: #DD0000;
  width: 600px;
  height: 40px;
  border: 1px solid #FFFFFF;
}

#root #scoreboard-container #score-board rect{
  fill: #0000DD;
}

#root #canvas-container #game-canvas {
  border: 1px solid #FFFFFF;
}
