@font-face {
    font-family: ArcadeFont;
    src: url(./fonts/ARCADECLASSIC.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  font-family: ArcadeFont;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#root {
  text-align: center;
  color: #FFFFFF;
}

#root #game-wrapper #main-logo {
  margin: 75px 0px 50px 0px;
  width: 400px;
}

#root #game-wrapper #menu-list .menu-option {
  margin: 30px;
  font-size: 50px;
}

#root #game-wrapper #menu-list .selected {
  color: #8DC63F;
}

#root #scoreboard-container{
  margin-top: 5px;
  position: relative;
  width: 600px;
  height: 47px;
  display: inline-block;
}

#root #scoreboard-container #player1-score, #player2-score{
  position: absolute;
  top: 2px;
  color: #FFFFFF;
  font-size: 40px;
}

#root #scoreboard-container #player1-score{
    left: 20px;
}

#root #scoreboard-container #player2-score{
    left: 560px;
}

#root #scoreboard-container #score-board{
  background: #DD0000;
  width: 600px;
  height: 40px;
  border: 1px solid #FFFFFF;
}

#root #scoreboard-container #score-board rect{
  fill: #0000DD;
}

#root #canvas-container #game-canvas {
  border: 1px solid #FFFFFF;
}
